body{
    background-color: lightgray;
}



nav{
list-style: none;
background-color: rgb(94, 94, 94);
display: flex;
color: white;
}

.rightbar img{
 
  padding: 0px;
  width: 100px;
  height: 100px;
}
.middlebar{
    
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    /* padding-left: 70px; */
    
}
.leftbar{
    
    display: flex;
   align-items: end;
    gap: 25px;
    align-items: center;
}
.p-left{
    width: 50%;
    display: flex;
    justify-content: end;
}

.p-right{
     width: 50%;
    display: flex;
    justify-content: start;
}
.cntr{
    align-items: center;
    align-content: center;
}
.main-1 img{
    /* width: 50%; */
    padding-top: 15px;
    
    
}
.main-2{
    display: flex;
    
}
.txt-1{
 /* width: 50%; */
 
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1f1e1e;
    
    
   
    border-radius: 8px;
    
   

}

.txtgrp-1{
    text-align: center;
    display: flex;
    align-items: center;
}
.atag-1{
    color: white;
}
